.Die {
  font-size: 20rem;
  color: #bd4242;
}

.Die-rolling {
  animation: Die-rolling 1s ease;
}

@keyframes Die-rolling {
  /* 0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(720deg);
  } */

  from {
    transform: translate3d(0, 0, 0);
  }
  15% {
    transform: translate3d(0, -25%, 0) rotate3d(0, 0, 1, -5deg) rotate(0deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg) rotate(90deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg) rotate(180deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg) rotate(270deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg) rotate(360deg);
  }
  to {
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}
